<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>some website</title>
    </head>
    <body>
<h1>{{pageTitle}}</h1>
<p>some text here</p>

<footer>
    <p>copyright {{currentYear}}</p>
</footer>
    </body>
</html>